* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-gotham-narrow-book);
}
.header {
  margin-top: 10px;
  background-color: black;
}

.header .wrapper {
  width: 1350px;
  margin: auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-disk {
  display: flex;
}

.header-disk ul {
  list-style: none;
  display: flex;
}

.header-disk ul li {
  padding: 10px 10px;
}

.header-disk ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.header-img {
  display: block;
}

.header-img img {
  width: 60%;
}

.header-new {
  display: flex;
}

.header-new ul {
  list-style: none;
  display: flex;
}

.header-new ul li {
  padding: 10px 10px;
}

.header-new ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.header-new ul i {
  padding: 15px 10px;
}
