* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.header {
  display: block;
  background-color: #fff;
  box-shadow: -2px 3px 12px -8px #000;
}

.header .wrapper {
  width: 1350px;
  margin: auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.header-disk {
  display: flex;
  width: 50%;
}
.header-disk img {
  width: 10%;
}

.header-nav {
  display: block;
  margin-left: 15px;
}
.header-nav h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}
.header-nav h3 {
  font-size: 12px;
  line-height: 24px;
  color: #555;
}
.header-left {
  display: flex;
  gap: 34px;
}

.header-left button {
  border: none;
  background-color: #fff;
  text-decoration: double;
}
