* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #000;
}

.header {
  display: block;
  background: #000;
}

.header .wrapper {
  width: 1350px;
  margin: auto;
}

.Headerdisk {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.headertop {
  display: block;
  width: 15%;
}

.headertop img {
  width: 100%;
}

.header-nav {
  display: block;
  width: 42%;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

.header-nav ul li {
  padding: 10px 0px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.header-nav ul li a:hover {
  background-color: red;
  color: #000;
}
.header-nav ul li:hover .drop {
  display: block;
}
.dropbox {
  background: #000;
  position: relative;
}
.drop {
  display: none;
  background: #000;
  width: 800px;
  position: absolute;
  top: 30px;
  z-index: 999;
  margin: 0;
  box-shadow: 1px 4px 12px rgba(51, 51, 51, 0.25);
  padding: 10px 20px;
}

.drop a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 10px 10px;
}
.drop a:hover {
  color: #fff;
  background: #000;
}

.headerbar {
  display: block;
  width: 11%;
  border: solid 1px #fff;
  display: block;
  width: 11%;
  border: solid 2px #fff;
  padding: 10px 10px 10px 17px;
  border-radius: 10px;
}

.headerbar a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.headerbar:hover {
  background: red;
  color: #000;
  border: solid 3px blueviolet;
}

.navigation {
  background: #000;
}

.navigation .wrapper {
  width: 800px;
  margin: auto;
}

.navigation-text {
  display: block;
  text-align: center;
  padding: 30px 30px;
}

.navigation-text h2 {
  font-size: 43px;
  font-weight: 400;
  color: #fff;
  margin-top: 30px;
}

.navigation-text h3 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.navigation-text h3 span {
  color: red;
}

.navigation-text h4 {
  font-size: 22px;
  font-weight: 400;
  color: #888;
  line-height: 25px;
  margin-top: 30px;
}

.navigation-icon {
  margin-top: 30px;
  text-align: center;
  display: block;
}

.navigation-icon a {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border: solid 2px #fff;
  padding: 20px;
  width: 250px;
  text-decoration: none;
  display: block;
  margin: auto;
  border-radius: 17px;
}
.navigation-icon a i {
  margin-left: 10px;
}

.navigation-icon a:hover {
  color: red;
  border: solid 4px red;
}

.banner {
  background-color: #000;
  margin-top: 120px;
}

.banner .wrapper {
  width: 1200px;
  margin: auto;
  background-color: #0c0c0e;
  padding: 60px 60px;
  border-width: 5px 0px 0px 0px;
  border-color: #141415;
  box-shadow: 0px 0px 10px -2px #fff;
}

.banner-disk {
  display: flex;
  justify-content: space-between;
}

.banner-top {
  display: block;
  width: 48%;
  margin-top: 60px;
}

.banner-top h2 {
  font-size: 55px;
  font-weight: bold;
  color: #fff;
}

.banner-top h2 span {
  color: red;
}

.banner-top p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 22px;
  line-height: 28px;
}

.bannerIcon {
  margin-top: 50px;
  text-align: center;
  display: block;
}

.bannerIcon a {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border: solid 2px #fff;
  padding: 20px;
  width: 250px;
  text-decoration: none;
  border-radius: 17px;
  display: block;
}
.bannerIcon a i {
  margin-left: 10px;
}

.bannerIcon a:hover {
  color: red;
  border: solid 2px red;
}

.bannerImage {
  display: block;
  width: 44%;
  margin-right: -79px;
}

.bannerImage img {
  width: 100%;
}

.content {
  margin-top: 120px;
}

.content .wrapper {
  width: 1200px;
  margin: auto;
}

.content-disk {
  display: flex;
  justify-content: space-between;
}

.content-image {
  width: 46%;
}

.content-image img {
  width: 100%;
}

.content-article {
  display: block;
  width: 48%;
  margin-top: 30px;
}

.content-article h2 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.content-article h3 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}

.content-article h3 span {
  color: red;
}

.content-article p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 12px;
  line-height: 28px;
}

.content-Icon {
  margin-top: 20px;
  text-align: center;
  display: block;
}

.content-Icon a {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border: solid 2px #fff;
  padding: 20px;
  width: 250px;
  text-decoration: none;
  border-radius: 17px;
  display: block;
}
.content-Icon a i {
  margin-left: 10px;
}

.content-Icon a:hover {
  color: red;
  border: solid 2px red;
}

.webDesgin {
  margin-top: 120px;
}

.webDesgin .wrapper {
  width: 1200px;
  margin: auto;
}

.webDesgin-disk {
  display: block;
  text-align: center;
}

.webDesgin-disk h2 {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}

.webDesgin-disk h2 span {
  color: red;
}

.webDesgin-Article {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.webDesgin-Form {
  width: 31%;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  padding: 18px;
}

.webDesgin-Form img {
  width: 100%;
}

.webDesgin-Form h2 {
  font-size: 29px;
  margin-top: 15px;
  font-weight: 700;
  color: #fff;
}

.webDesgin-Form p {
  font-size: 16px;
  font-weight: 300;
  color: #888;
  margin-top: 15px;
}

.webDeginIcon {
  display: flex;
  margin-top: 15px;
}
.webDeginIcon a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  margin-top: 15px;
}

.webDeginIcon i {
  margin-left: 18px;
  color: #fff;
  margin-top: 16px;
}

.webDeginIcon a:hover {
  color: red;
}

.webDegin-more {
  display: block;
  text-align: center;
  margin-top: 40px;
}
.webDegin-more h2 {
  font-size: 17px;
  font-weight: 300;
  color: #888;
}
.webDegin-more h2 span {
  font-size: 17px;
  font-weight: 600;
  color: #888;
}

.Testimonials {
  margin-top: 80px;
}

.Testimonials .wrapper {
  width: 1200px;
  margin: auto;
}

.Testimonials-disk {
  display: block;
  text-align: center;
}

.Testimonials-disk h2 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
}

.Testimonials-disk h2 span {
  color: red;
}

.Testimonials-tab {
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
}

.Testimonials-form {
  width: 100%;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  padding: 18px;
  height: 300px;
}

.Testimonials-form p {
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 25px;
}

.Testimonials-Image {
  display: flex;
  margin-top: 40px;
  gap: 30px;
}

.Testimonials-Image img {
  width: 20% !important;
  border-radius: 50px;
}

.Testimonials-Image h2 {
  font-size: 14px;
  font-weight: 600;
  color: #888;
  line-height: 23px;
}

.Testimonials-Image h2 span {
  color: red;
}

.webDesgin1 {
  margin-top: 120px;
}

.webDesgin1 .wrapper {
  width: 1200px;
  margin: auto;
}

.webDesgin-disk1 {
  display: block;
  text-align: center;
}

.webDesgin-disk1 h2 {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}

.webDesgin-disk1 h2 span {
  color: red;
}

.webDesgin-Article1 {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.webDesgin-Form1 {
  width: 31%;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  padding: 18px;
}

.webDesgin-Form1 img {
  width: 100%;
}

.webDesgin-Form1 h2 {
  font-size: 29px;
  margin-top: 15px;
  font-weight: 700;
  color: #fff;
}

.webDesgin-Form1 p {
  font-size: 16px;
  font-weight: 300;
  color: #888;
  margin-top: 15px;
}

.webDeginIcon1 {
  display: flex;
  margin-top: 15px;
}
.webDeginIcon1 a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  margin-top: 15px;
}

.webDeginIcon1 i {
  margin-left: 18px;
  color: #fff;
  margin-top: 16px;
}

.webDeginIcon1 a:hover {
  color: red;
}

.webDesgin-Form2 {
  width: 31%;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  padding: 18px;
  height: 424px;
}

.webDesgin-Form2 img {
  width: 100%;
}

.webDesgin-Form2 h2 {
  font-size: 29px;
  margin-top: 15px;
  font-weight: 700;
  color: #fff;
}

.webDesgin-Form2 p {
  font-size: 16px;
  font-weight: 300;
  color: #888;
  margin-top: 15px;
}

.webDeginIcon2 {
  display: flex;
  margin-top: 15px;
}
.webDeginIcon2 a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  margin-top: 15px;
}

.webDeginIcon2 i {
  margin-left: 18px;
  color: #fff;
  margin-top: 16px;
}

.webDeginIcon2 a:hover {
  color: red;
}

.webDegin-more1 {
  display: block;
  text-align: center;
  margin-top: 40px;
}
.webDegin-more1 h2 {
  font-size: 17px;
  font-weight: 300;
  color: #888;
}
.webDegin-more1 h2 span {
  font-size: 17px;
  font-weight: 600;
  color: #888;
}

.work {
  margin-top: 120px;
}

.work .wrapper {
  width: 1200px;
  margin: auto;
  background-color: #0c0c0e;
  padding: 60px 60px;
  border-width: 5px 0px 0px 0px;
  border-color: #141415;
  box-shadow: 0px 0px 10px -2px #fff;
}

.work-disk {
  text-align: center;
  display: block;
}

.work-disk h2 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}

.work-disk h2 span {
  color: red;
}

.work-nav {
  display: flex;
  justify-content: space-between;
  padding: 17px;
  margin-top: 80px;
}

.work-tab {
  width: 31%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
}

.work-tab img {
  width: 100%;
}

.work-tab h2 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  color: #fff;
  padding: 11px;
}

.workIcon {
  display: flex;
  padding: 20px;
}
.workIcon a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}

.workIcon i {
  margin-left: 18px;
  color: #fff;
}

.workIcon a:hover {
  color: red;
}

.Partners {
  margin-top: 100px;
}

.Partners .wrapper {
  width: 1200px;
  margin: auto;
  background-color: #0c0c0e;
  padding: 60px 60px;
  border-width: 5px 0px 0px 0px;
  border-color: #141415;
  box-shadow: 0px 0px 10px -2px #fff;
}
.Partners-disk {
  display: block;
  text-align: center;
}

.Partners-disk h2 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}

.Partners-disk h2 span {
  color: red;
}

.Partners-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.Partners-form {
  width: 18%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
  padding: 18px;
}

.Partners-form img {
  width: 70%;
  margin-left: 20px;
}
.Partners-form1 {
  width: 18%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
  padding: 18px;
}

.Partners-form1 img {
  width: 70%;
  margin-left: 20px;
  margin-top: 24px;
}
.Partners-form2 {
  width: 18%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
  padding: 18px;
}

.Partners-form2 img {
  width: 70%;
  margin-left: 20px;
  margin-top: 18px;
}
.Partners-form3 {
  width: 18%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
  padding: 18px;
}

.Partners-form3 img {
  width: 70%;
  margin-left: 20px;
  margin-top: 34px;
}
.Partners-form4 {
  width: 18%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
  padding: 18px;
}

.Partners-form4 img {
  width: 70%;
  margin-left: 20px;
  margin-top: 24px;
}

.client {
  margin-top: 120px;
}
.client .wrapper {
  width: 1200px;
  margin: auto;
}

.client-disk {
  display: block;
  text-align: center;
}

.client-disk h2 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.client-disk h2 span {
  color: red;
}

.client-video {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  position: relative;
}

.client-equation {
  display: block;
  padding: 20px;
  width: 44%;
}

.client-equation .videobox {
  border-radius: 17px;
  border: none;
}

.client-equation .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  left: -20px;
}

.client-equation .owl-nav .owl-prev span {
  font-size: 40px;
  color: #fff;
}

.client-equation .owl-nav .owl-next {
  position: absolute;
  top: 45%;
  right: -13px;
}

.client-equation .owl-nav .owl-next span {
  font-size: 40px;
  color: #fff;
}

.Companies {
  display: block;
  margin-top: 60px;
}

.Companies .wrapper {
  width: 1200px;
  margin: auto;
}

.Companies-disk {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.companies-top {
  width: 33%;
}
.Companies-nav {
  width: 90%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
}

.Companies-nav h2 {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.Companies-nav h2 span {
  color: red;
}

.Companies-img {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}

.Companies-img img {
  width: 27%;
}

.Companies-article {
  width: 90%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
  margin-top: 40px;
}

.Companies-article h2 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.Companies-article h2 span {
  color: red;
}

.Companies-photo {
  display: flex;
  margin-top: 20px;
  gap: 7px;
}

.Companies-photo img {
  width: 15%;
  border-radius: 8px;
}

.project {
  width: 30%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
}

.project h2 {
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  line-height: 33px;
}

.project h2 span {
  color: red;
}

.project p {
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  margin-top: 40px;
}

.project p span {
  font-size: 14px;
  font-weight: 600;
  color: #888;
}

.projectIcon {
  margin-top: 25px;

  display: flex;
}

.projectIcon a {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border: solid 3px #fff;
  padding: 20px;
  width: 250px;
  text-decoration: none;
  border-radius: 17px;
  display: block;
}

.projectIcon i {
  color: #fff;
  margin-left: -48px;
  margin-top: 23px;
}
.projectIcon a:hover {
  color: red;
  border: solid 3px red;
}

.Connent-disk {
  width: 30%;
  display: block;
  background: #0c0c0e;
  box-shadow: 0px 0px 10px -2px #fff;
  border-radius: 10px;
  padding: 18px;
}

.Connent-disk h2 {
  font-size: 26px;
  font-weight: 800;
  color: #fff;
  line-height: 33px;
}

.Connent-disk h2 span {
  color: red;
}

.Connent-Icon {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Connent-Icondisk {
  width: 32%;
  background-color: #888;

  padding: 10px;
  border-radius: 20px;
}

.Connent-Icondisk a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin-left: 7px;
}

.Connent-Icondisk a i {
  font-size: 12px;
  margin-right: 7px;
}

.Connent-Icondisk:hover {
  background-color: red;
  color: #fff;
}

.Conntent-text {
  margin-top: 35px;
}

.Conntent-text h2 {
  font-size: 26px;
  font-weight: 800;
  color: #fff;
  line-height: 33px;
}

.Conntent-text h2 span {
  color: red;
}

.Conntent-text p {
  font-size: 15px;
  color: #888;
  line-height: 25px;
  margin-top: 39px;
}

.Connent-Icon {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer {
  margin-top: 80px;
}

.footer .wrapper {
  width: 1450px;
  margin: auto;
}

.footer-disk {
  display: flex;
  justify-content: space-between;
}

.footer-tab {
  display: block;
  width: 26%;
}

.footer-tab img {
  width: 80%;
}

.footer-tab h2 {
  font-size: 15px;
  font-weight: 300;
  color: #888;
  margin-top: 15px;
  line-height: 25px;
}
.footer-tab p {
  font-size: 15px;
  font-weight: 300;
  color: #888;
  margin-top: 10px;
}

.footer-page {
  display: block;
}

.footer-page h2 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.footer-page ul {
  list-style: none;
  margin-top: 18px;
}

.footer-page ul li {
  margin-top: 10px;
}

.footer-page ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.footer-page ul li a:hover {
  color: red;
}
